@model MyClass.Model.Products

@{
    ViewBag.Title = "Xác nhận xóa mẫu tin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">XÁC NHẬN XÓA MẪU TIN</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Index","Product")" class="btn-sm btn-primary"><i class="fa fa-arrow-left"> Quay lại</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.CatID)</th>
                                <th>@Html.DisplayNameFor(model => model.Supplier)</th>
                                <th>@Html.DisplayNameFor(model => model.Image)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                <th>@Html.DisplayNameFor(model => model.Status)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Id)</td>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                                <td>@Html.DisplayFor(model => model.CatID)</td>
                                <td>@ViewBag.Name</td>
                                <td><img src="~/Public/img/product/@Model.Image" alt="Img" style="max-width: 100px;" /></td>
                                <td>@Html.DisplayFor(model => model.Price)</td>
                                <td>@Html.DisplayFor(model => model.Amount)</td>
                                <td>@Html.DisplayFor(model => model.Status)</td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="form-actions no-color mt-4">
                        <button class="btn-sm btn-danger" type="submit" name="save">Delete<i class="fa fa-trash"></i></button>
                    </div>
                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->
}